%p#notice= notice

%p
  %b 
  = Statistic.human_attribute_name(:number) + ":"
  = @statistic.number
%p
  %b 
  = Statistic.human_attribute_name(:quantity) + ":"
  = @statistic.quantity

= link_to t('helpers.back'), statistics_path
