%h1
  =t('helpers.listing')  
  \
  =Category.model_name.human(count: 0)

%table
  %thead
    %tr
      %th= Category.human_attribute_name(:name)
      %th= Category.human_attribute_name(:drugs)
      %th
      %th
      %th

  %tbody
    - @categories.each do |category|
      %tr
        %td= category.name
        %td= show_drug(category.drug_ids)
        %td= link_to t('helpers.show'), category
        %td= link_to t('helpers.edit'), edit_category_path(category)
        %td= link_to t('helpers.destroy'), category, :method => :delete, :data => { :confirm => t('helpers.sure') }
%br

= link_to t('helpers.new') + ' ' + Category.model_name.human(count: 2), new_category_path
